html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#cover {
    background-image: url("../img/cover.webp");
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 33vh;
    padding-bottom: 20em;
}
#navbar {
    width: 100%!important;
    position: sticky;
    top: 0;
    z-index: 1;
}
#jobs {
    padding-top: 5em!important;
}
#login {
    margin: 0 auto;
}
#about {
    font-size: 1.2rem;
}
.activateNav {
    border-right: 3px solid #5cb85c;
    border-bottom: 3px solid #5cb85c;
    border-radius: 50%;
    margin: 0 -3px -3px 0;
}
.user-card:hover {
    /* box-shadow: -12px -8px 40px rgba(70,70,70,0.12) inset; */
    /* box-shadow: -65px 87px 70px -106px rgba(25,135,84,1) inset;  //cool*/
    box-shadow: -68px 58px 154px -188px rgba(25,135,84,1) inset;
    border-radius: 23%;
}
