html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#cover {
    background-image: url("../img/cover.webp");
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 33vh;
    padding-bottom: 20em;
}
#navbar {
    width: 100%!important;
    position: sticky;
    top: 0;
    z-index: 5;
}
#filters {
    position: sticky;
    top: -200px;
    z-index: 1;
}
#jobs {
    padding-top: 5em!important;
}
#login {
    margin: 0 auto;
}
#about {
    font-size: 1.2rem;
}
.activateNav {
    border-right: 3px solid #5cb85c;
    /* border-bottom: 3px solid #5cb85c; */
    border-radius: 50%;
    margin-right: -3px;
    /* margin-top: 3px; */
}
.user-card:hover {
    /* box-shadow: -12px -8px 40px rgba(70,70,70,0.12) inset; */
    /* box-shadow: -65px 87px 70px -106px rgba(25,135,84,1) inset;  //cool*/
    box-shadow: -96px 49px 190px -185px rgba(25,135,84,1) inset, -16px 166px 106px -216px rgba(25,135,84,1) inset;
    border-radius: 23%;
}
.user-a {
    text-decoration: none;
}
.user-a:hover {
    color: #000 !important;
}
