#cover {
    background-image: url("../img/cover.webp");
    width: 100%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 45vh;
}
#navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}
