<br/>
<div class="container">
    <h2 class="text-center fw-bold mb-3">Create job post</h2>
    <form id="loginForm" class="text-center">
        <div class="row">
            <div class="col-6">
                <div class="form-outline mb-4">
                    <input type="text" id="caption" class="form-control" />
                    <label class="form-label" for="caption">Caption</label>
                </div>

                <div class="form-outline mb-4">
                    <textarea id="description" class="form-control"></textarea>
                    <label class="form-label" for="description">Description</label>
                </div>
            </div>

            <div class="col-6">
                <div class="form-outline mb-4">
                    <input type="text" id="caption" class="form-control" />
                    <label class="form-label" for="caption">Caption</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" autocomplete="current-password" id="loginPass" class="form-control" />
                    <label class="form-label" for="loginPass">Password</label>
                </div>
            </div>
            <!-- Submit button -->
        </div>
        <input type="submit" class="btn btn-success btn-block mb-3" value="Create job post" />
    </form>
</div>

