<div class="card-header border">
    Filters
</div>
<ul class="list-group list-group-flush" id="filters">
    <li><a class='list-group-item' href='#' data-url="/api/jobs/create">Create job</a></li>
    <li><a class='list-group-item' href='#' data-url="/api/jobs/all">Jobs</a></li>
    <li><a class='list-group-item' href='#' data-url="/api/users/all"=>Users</a></li>
    <li class="dropdown">
        <a class="list-group-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sortiranje po kategoriji
        </a>
        <ul class="dropdown-menu" id="dropp" aria-labelledby="navbarDropdown">
        </ul>
    </li>
</ul>
