<div class="card-header border">
    Filters
</div>
<ul class="list-group list-group-flush">
    <li><a class='list-group-item' href='#'>Jobs</a></li>
    <li><a class='list-group-item' href='#'>Users</a></li>
    <li><a class='list-group-item' href='#'>Worst</a></li>
    <li class="dropdown">
        <a class="list-group-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
        </a>
        <ul class="dropdown-menu" id="dropp" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>
</ul>
