<br/>
<div class="container">
    <h2 class="text-center fw-bold mb-2">Register</h2>
    <form id="registerForm" class="text-center row">
        <div class="col-lg-6">
            <img src="img/register.webp" alt="registration image" class="img-fluid">
        </div>
        <div class="col-lg-3 col-md-12 mb-4">
            <div class="form-outline mb-3">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" autocomplete="email" placeholder="example@email.com" class="form-control" />
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="username">Username</label>
                <input type="username" id="username" autocomplete="username" placeholder="username123" class="form-control" />
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="pass">Password</label>
                <input type="password" id="pass" autocomplete="new-password" class="form-control" />
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="passRep">Repeat password</label>
                <input type="password" id="passRep" autocomplete="new-password" class="form-control" />
            </div>
            <div class="form-outline mb-3">
                <label class="form-label" for="telefon">Telefon number</label>
                <input type="tel" id="telefon" autocomplete="tel-national" placeholder="+381601234567" class="form-control" />
            </div>
        </div>

        <div class="col-lg-3 col-md-12">
            <div class="form-outline mb-3">
                <label class="form-label" for="first_name">First name</label>
                <input type="text" id="first_name" autocomplete="name" placeholder="Petar" class="form-control" />
            </div>

            <div class="form-outline mb-3">
                <label class="form-label" for="last_name">Last name</label>
                <input type="text" id="last_name" autocomplete="name" placeholder="Petrovic" class="form-control" />
            </div>

            <div class="form-outline mb-3">
                <label class="form-label" for="street">Street</label>
                <input type="text" id="street" autocomplete="street-address" placeholder="Resavska" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="strNum">Street number</label>
                <input type="text" id="strNum" autocomplete="cc-number" placeholder="23" class="form-control" />
            </div>

            <div class="form-outline mb-3">
                <label class="form-label" for="city">City and zip code</label>
                <input type="text" id="city" placeholder="11000 Belgrade" class="form-control" />
            </div>
        </div>

        <div class="buttonSub text-center mt-2">
            <input type="submit" class="btn btn-success col-3 text-center btn-block mb-3" value="Sign up"/>
        </div>
    </form>
</div>
